{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}

            {% endblock %}

    </title>



        {% block style %}
       <link rel="stylesheet" href="{% static 'css/style.css' %}">
            {% endblock %}

</head>
<body>
<nav>
    <a href="{% url 'home'  %}">🏡Home</a>|
    <a href="{% url 'items' %}">☛Items</a>|
    <a href="{% url 'item-add' %}">☛Create</a>|
    <a href={% url "about" %}>☛About</a>
</nav>
        {% block content %}

        {% endblock %}
</body>
</html>