{% extends 'base.html' %}

{% block title %}
    Создать товар
{% endblock %}

{% block style %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <hr>
    <form action="{% url 'item-add' %}" method="post"><br>
        {% csrf_token %}
        <label>Название:</label><br>
    <input type="text" name="name"><br>
        <label>Бренд:</label><br>

    <input type="text" name="brand"><br>
      <label>Количество товара:</label><br>
    <input type="number" name="count"><br>
      <label>Пояснение</label><br>
   <textarea name="description"  cols="30" rows="5">

   </textarea>


        <input type="submit" value="Создать товар">
    </form>
{% endblock %}