{% extends 'base.html' %}
{% load static %}


{% block title %}
Список товаров
{% endblock %}


   {% block style %}
{{ block.super }}
       <link rel="stylesheet" href="{% static 'css/items.style.css' %}">


        {% endblock %}

{% block content %}
    <img src="{% static 'img/unicorn.png' %}" alt="">

<div class="container">
    <ol>
        {% for item in items %}
<li>


            <a href="{% url 'item-detail' item.id %}">{{ item.name }}</a>
            (В наличии: {{ item.count }})
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock %}
